.battery {
  position: absolute;
  top: 50px;
  left: 10px;
  width: 200px;
  height: 60px;

  border: 3px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
  z-index: 1;
}

.tip {
  position: absolute;
  top: 65px;
  left: 207px;
  width: 12px;
  height: 30px;

  border: 3px solid #000000;
  box-sizing: border-box;
}

.filled {
  position: absolute;
  top: 50px;
  left: 10px;
  width: 200px;
  height: 60px;
  border-radius: 10px;
  background: #5ef075;
  z-index: 0;
}
